body {
  width: 100%;
  font-family: arial;
  padding: 0;
  margin: 0;
  background-color: #fffbf5;
}

h1 {
  font-size: 22px;
  color: #333;
  margin: 6px 0;
}

h2 {
  font-size: 16px;
  color: #333;
  margin: 4px 0;
}

#main {
  margin: 0 auto;
  padding-left: 10px;
}

.puzzle {
  margin-bottom: 12px;
}

.tile-bank {
  padding-bottom: 100px;
}

.word {
  display: inline-block;
  margin: 0 14px 4px 0;
}

.tile, .empty-slot {
  display: inline-block;
  height: 32px;
  width: 32px;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #282319;
  margin: 2px 2px 2px 0;
}

.tile-bank .tile {
  margin: 2px 2px 2px 0;
}

.empty-slot:hover, .tile:hover {
  cursor: pointer;
}

.tile {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #fae2af;
}

.tile.correct {
  background-color: #faaf0c;
  border-color: #aaa;
}

.tile.selected {
  background-color: #fad27d;
  border-color: #ccc;
  cursor: pointer;
}

.tile.selected {
  border-color: #fff;
  color: #000;
}

@media (min-width: 320px) {
  #main {
    width: 316px;
  }
}

@media (min-width: 360px) {
  #main {
    width: 354px;
  }
}
