body {
  width: 100%;
  font-family: arial;
  padding: 0;
  margin: 0;
  background-color: #fffbf5;
}

h1 {
  font-size: 22px;
  color: #333;
  margin: 6px 0;
}

h2 {
  font-size: 16px;
  color: #333;
  margin: 4px 0;
}

#main {
  margin: 0 auto;
  padding: 10px 8px 12px 8px;
}

.puzzle {
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
}

.tile-bank {
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
}

.tile-bank.tile-selected:hover {
  background-color: #fffdfa;
  border-color: #ccc;
  cursor: pointer;
}

.word {
  display: inline-block;
  margin: 0 14px 4px 0;
}

.tile, .empty-slot {
  display: inline-block;
  height: 24px;
  width: 24px;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #282319;
  margin: 2px 2px;
}

.empty-slot:hover {
  background-color: #fff8ed;
  border-color: #ccc;
  cursor: pointer;
}

.tile {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #fae2af;
}

.tile.correct {
  background-color: #faaf0c;
  border-color: #aaa;
}

.tile:hover, .tile.selected {
  background-color: #fad27d;
  border-color: #ccc;
  cursor: pointer;
}

.tile.selected {
  border-color: #fff;
  color: #000;
}

@media (min-width: 320px) {
  #main {
    width: 320px;
  }
}

@media (min-width: 620px) {
  #main {
    width: 330px;
  }
}

@media (min-width: 1000px) {
  #main {
    width: 346px;
  }
}
