body {
  width: 100%;
  font-family: arial;
  padding: 0;
  margin: 0;
  background-color: #fffbf5;
}

h1 {
  font-size: 32px;
  color: #333;
  margin: 6px 0;
}

h2 {
  font-size: 24px;
  color: #333;
  margin: 4px 0;
}

#main {
  margin: 0 auto;
  padding-left: 7px;
}

.instructions {
  color: #bbb;
  font-size: 14px;
}

.puzzle {
  margin: 20px 0 12px;
}

.status-message {
  color: #bbb;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 18px;
}

.completed-message {
  padding-right: 10px;
  font-size: 26px;
  line-height: 1.4;
  color: #555;
  font-weight: bold;
}

.tile-bank {
  padding-bottom: 100px;
}

.word {
  display: inline-block;
  margin: 0 13px 4px 0;
}

.tile, .empty-slot {
  display: inline-block;
  height: 32px;
  width: 32px;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  border: 2px solid #ddd;
  border-radius: 3px;
  color: #282319;
  margin: 2px 1px 2px 0;
}

.tile-bank .tile {
  margin: 2px 2px 2px 0;
}

.empty-slot:hover, .tile:hover {
  cursor: pointer;
}

.tile {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background: #fae2af;
  background: linear-gradient(to bottom, #fae2af, #fff7e8);
}

.tile.correct {
  background: #ffb34b;
  background: linear-gradient(to bottom, #ffb34b, #f5d63e);
  border-color: green;
  border-color: #bbb;
}

.tile.selected {
  background: #fad27d;
  border-color: #bbb;
  cursor: pointer;
}

@media (min-width: 320px) {
  #main {
    width: 320px;
  }
}

@media (min-width: 360px) {
  #main {
    width: 360px;
  }
}
